@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&family=Kumbh+Sans:wght@400;700&family=Mukta:wght@200;300;400&display=swap');
* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Kumbh Sans';
}
.last {
    pointer-events: none;
}
header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 90%;
    margin-inline: auto;
    padding-top: 1rem;
    border-bottom: 1px solid  rgb(217, 215, 215);
    
}

.menu, .close,.responsive-previous,.responsive-next,.dark,.close-menu {
    display: none;
}
h1{
    color: #000;
}
header ul {
    display: flex;
    justify-content: space-around;
    align-content: center;
    width: 50%;
    color: gray;
    
}
header ul li{
    transition: 0.1s;
    height: 100%;
    padding-top: 14px;
    cursor: pointer;
}
header ul li:hover {
    border-bottom: 2px solid hsl(26, 100%, 55%);
}
header div {
    display: flex;
    align-content: center;
    justify-content: space-between;
    width: 15%;
    padding-bottom: 1.5rem;
}
header .prfile-img{
    max-width: 3rem;
    margin: auto;
}
header .cart-icon{
    margin: auto;
    
}
header ul li{
    margin:auto 0
}

.product-1, .product-2,.product-3,.product-4{
    background-size: cover;
    background-repeat: no-repeat;
}
.product-1{
    background-image: url("./images/image-product-1.jpg");
}
.product-2{
    background-image: url("./images/image-product-2.jpg");
}
.product-3{
    background-image: url("./images/image-product-3.jpg");
}
.product-4{
    background-image: url("./images/image-product-4.jpg");
}
main {
    padding-top: 4rem;
    display: flex;
    width: 90%;
    margin-inline: auto;
    gap: 7rem;
}
.review , .checkoutReview{
    width: 21rem;
    height: 22rem;
    border-radius: 15px;
    cursor:poiner;
}
.products-imgs div,.chckout-container div {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
}
.products-imgs div img,.chckout-container .imgs img{
    width: 4.5rem;
    border-radius: 10px;
    cursor: pointer;
}
 .price > div {
    width: 70% !important;
}
.price-container{
    
    display: flex;
    flex-direction: column;
    
}
.clicked {
    opacity: 0.5;
    border: 3px solid hsl(26, 100%, 55%);
}
.product-detail{
    width: 51%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 3rem 0rem;
}
.product-detail h5 {
    color: hsl(26, 100%, 55%);
}
.product-detail h2{
    font-size: 2.5rem;
}
.product-detail p {
    color: gray;
}
.product-detail div {
    display: flex;
    gap: 1rem;
   width: 23%;
    
}
.product-detail .price{
    font-size: 2rem;
    font-weight: bold;
}
.product-detail .discount {
    font-size: 1.2rem;
    margin: auto;
    background-color: hsl(25, 100%, 94%);
    color: hsl(26, 100%, 55%);
    width: fit-content;
    padding: 3px 4px;
    border-radius: 5px;
    font-weight: bold;
}
.product-detail .old-price {
    color: gray;
}
.product-detail .cart{
    width: 100%;

}
.product-detail .cart .cart-count{
    width: 10rem;
    display: flex;
    align-content: center;
    justify-content: space-around;
    background-color: rgb(245, 241, 241);
    height: 2.3rem;
    border-radius: 4px;
    cursor: pointer;
}
.product-detail .cart div span {
    margin: auto;
}
.product-detail .cart .cart-btn {
    width: 15rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
    background-color: hsl(26, 100%, 55%);
    padding: 0.6rem 3.2rem;
    border-radius: 5px;
    cursor: pointer;
}
.product-detail .cart .cart-btn:hover {
    opacity: 0.6;
}
.product-detail .cart .cart-btn p{
    color: white;
}
.product-detail .cart .cart-btn svg{
   
    color: white;
}

.product-detail .product-number{
    font-weight: bold;
}
.prfile-img{
    border: 3px solid  hsl(26, 100%, 55%);
    border-radius: 50%;
}
.cart-icon{
    cursor: pointer;
}
.product-num {
    position: absolute;
background: orangered;
width: 1.2rem;
height: 0.9rem;
border-radius: 10px;
color: white;
padding: 0;
right: 14%;
top: 3.5%;
display: none;
text-align: center;
font-size: 0.7rem;
line-height: 0.9rem;
}
.cart-display {
    position: absolute;
width: 20rem;
height: 11rem;
background: white;
box-shadow: 0px 0px 2px 1px rgb(213, 210, 210);
top: 12%;
right: 4%;
display: none;
display: flex;
flex-direction: column;
}
.cart-display h5 {
    border-bottom: 1px solid #d8d1d1;
width: 100%;
padding: 0;
display: block;
height: 3rem;
text-align: start;
padding: 1rem;
}
.empty-cart {
    padding: 2rem 0;
display: block;
text-align: center;
}
.cartContent {
    display: none;
}
.cart-display{
    display: none;
    position: absolute;
z-index: 100;
}
.cart-display div{
    padding: 1rem 0;
    height: 5rem;
width: 100%;
justify-content: space-around;
}
.cart-display div p {
    width: 14rem;
text-align: center;
color: #afabab;
}
.result {
    color: #000;
}
.cart-display div .delete {
    width: 1rem;
height: 1rem;
margin: auto 0;
cursor: pointer;
}
.cart-display div .img {
    border-radius: 3px;
}
.cart-display button{
    width: 96%;
padding: 0.5rem;
margin-inline: auto;
font-size: 1rem;
background-color: hsl(26, 100%, 55%);
color: white;
border: transparent;
border-radius: 4px;
cursor: pointer;
}
.cart-display .cross {
    font-size: 0.6rem;
}
.chckout-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
}
.chckout-container .imgs{
    width: 33%;
    padding: 1rem 3rem;
}

.checkoutReview {
    width: 24rem;
    height: 26rem;
}
.close {
    position: absolute;
    top: 6%;
    right: 36%;
    cursor: pointer;

}

.chckout-container .display-products {
    align-items: center;
}
.arrow {
    width: 3rem;
height: 3rem;
    background: white;
    border-radius: 50%;
    padding: 0.8rem 0.9rem;
}
.icon-next {
    margin-left: -1.5rem;
}
.icon-previous {
    margin-right: -1.5rem;
    z-index: 100;
}
@media screen and (max-width : 480px) {
    .responsive-previous,.responsive-next{
        display: block;
    }
    header{
        border-bottom: none;
    }
    header ul {
       
        width: 60%;
        position: fixed;
        flex-direction: column;
        background-color: #fff;
        left: 0;
        top: 0;
        padding: 4rem 2rem;
        padding-top: 4rem;
        padding-bottom: 4rem;
        color: black;
        font-weight: bold;
        padding-top: 4rem;
        padding-bottom: 100vh;
        display: none;
        z-index: 100;
    }
    header ul li:hover {
        border: transparent;
    }
    header div {
        width: 30%;
        padding-bottom: 0.9rem;
    }
    header > div {
        display: flex;
        width: 43%;
        justify-content: space-between;
    }
    .menu , .close{
        display: block;
        cursor: pointer;
        height: 1rem;
        margin: auto;
    }
    .close {
        position: fixed;
        top: 3%;
        left: 0%;
        right: 81%;
    }
    main {
        padding: 0;
        flex-direction: column;
        width: 100%;
        gap: 0;
    }
    .products-imgs > div {
        width: 100%;
        height: 26rem;
        background-size: cover;
        border-radius: 0
    }
    .product-imgs-container{
        display: none !important;
    }
    .product-detail {
        width: 100%;
        gap: 1.5rem;
        padding: 0 1.5rem;
    }
    .product-detail br{
        display: none;
    }
    .product-detail > p {
        width: 80%;
        line-height: 2rem;
    }
    .price {
        width: 95% !important;
        display: flex;
        justify-content: space-between;
    }
    .price-container{
        flex-direction: row;
        width: 100% !important;
        justify-content: space-between;
        align-items: center;
    }
    .old-price {
        font-size: .9rem;
        line-height: 1.7rem;
    }
    .product-detail div{
        width: 35%;
    }
    .cart {
        flex-direction: column;

    }
    .product-detail .cart .cart-count,.product-detail .cart .cart-btn {
        width: 100%;
    }
    .cart-display {
        width: 91%;
        height: 14rem;
        padding: 2rem;
    }
    .cart-display button {
        padding: 0.9rem;
    }
    .product-num {
        right: 30%;
    }
    .dark {
        position: fixed;
        top: 0;
        width: 40%;
        right: 0;
        background-color: rgba(0, 0, 0, 0.6);
        height: 100vh;
        display: none;
        z-index: 100;
    }
    .chckout-container{
        height: 160vh;
        justify-content: flex-start;
    }
    .chckout-container .imgs{
        width: 80%;
        padding: 1rem;
        justify-content: space-between;
    }
    .chckout-container div{
        padding-top: 5rem;
    }
    .responsive-previous,.responsive-next{
        position: absolute;
        top: 40%;
    }
    .responsive-previous {
        left: 3%;
    }
    .responsive-next {
        right: 3%;
    }
    .close-menu{
        position: absolute;
        top: 3%;
    }
}
